{
  "presets": ["es2015", "react", "stage-0"],
  "env": {
    "test": {
      "plugins": [
        ["transform-runtime"],
        ["transform-decorators-legacy"],
        ["transform-class-properties"],
        ["babel-plugin-rewire"],
      ],
      "ignore": [
        "node_modules",
      ]
    },
    "development": {
      "plugins": [
        ["transform-runtime"],
        ["transform-decorators-legacy"],
        ["transform-class-properties"],
      ],
      "ignore": [
        "node_modules",
      ]
    },
    "hot": {
      "plugins": [
        ["transform-runtime"],
        ["transform-decorators-legacy"],
        ["transform-class-properties"],
        ["react-hot-loader/babel"],
      ],
      "ignore": [
        "node_modules",
      ]
    },
    "production": {
      "plugins": [
        ["transform-runtime"],
        ["transform-decorators-legacy"],
        ["transform-class-properties"],
        ["transform-react-constant-elements"],
        ["transform-react-remove-prop-types"],
      ],
      "ignore": [
        "node_modules",
      ]
    }
  }
}
