.DS_Store
*.rbc
capybara-*.html
/log
/tmp
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
secrets.js
*_web_pack_bundle.js
.idea/
*.iml
.env
.vscode/
yarn-error.log

config/secrets.js
s3_website.yml

## Environment normalisation:
/.bundle
/vendor/bundle

node_modules
npm-debug.log
/build

coverage/