{
  // Project key is critical. It is used to identify the project on the lambda platform
  project_key: {
    title: "Name of the application. This will be used as the 'title' in the html page",
    oauth: {
      canvas: {
        key: "OAuth key that can be used to do OAuth dance with provider canvas",
        secret: "OAuth secret that can be used to do OAuth dance with provider canvas"
      },
      facebook: {
        key: "OAuth key that can be used to do OAuth dance with provider facebook",
        secret: "OAuth secret that can be used to do OAuth dance with provider facebook"
      }
    },
    api_keys: {
      canvas: {

      }
    },
    lti: {
      key: "LTI key",
      secret: "LTI secret"
    }
    client_settings: {
      // Anything in here will be sent to the client.
    },
    client_js_bundles: [
      https://aws.example.com/some/path/my_app_bundle.js
    ]

  }

}