<h1>Install the <%= Rails.application.secrets.application_name %> LTI App</h1>


<h3>Option 1 - OAuth</h3>
<p>By logging into your instance of Canvas and authorizing the LTI App, you can install it automatically. This will also enable interaction with the Canvas API.</p>
<p>Steps:</p>
<ol>
  <li>First obtain a Canvas Developer ID and Developer Key from an Account Admin for the instance of Canvas that the tool will be installed in and put them in the secrets.yml or .env file.</li>
  <li><%= link_to "Connect Your Canvas Account", new_canvas_authentication_path, class: "btn btn-primary" %></li>
  <li><%= link_to("Install #{ Rails.application.secrets.lti_tool_name } into your Canvas account", new_lti_install_path) %></li>
</ol>

<h1>Available LTI Applications:</h1>
<% if current_user && current_user.admin %>
  <%= render partial: 'lti_application', collection: @lti_applications %>
<% end %>
