// Fonts must be relative to the main scss file (i.e. the file that includes this mixin)
// That's why the urls includes fonts/ even though that is up one directory
@font-face {
  font-family: 'robotobold';
  src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
