<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>React Client Starter</title>
    <meta name="description" content="React Client Starter">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      window.DEFAULT_SETTINGS = {
        userId: 0
      };
    </script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('./partials/_header.html') %>
    <%- content %>
    <%- include('./partials/_google_analytics.html') %>
  </body>
</html>