<% if accounts && accounts.length > 0 -%>
<div class="container">
  <h3><%=title%></h3>
  <ul>
    <% accounts.each do |account| -%>
      <li><%= account['name'] %></li>
    <% end -%>
  </ul>
</div>
<% end -%>