<div class="container">
  <h3>XML Configuration</h3>
  <p>Copy paste XML into Canvas settings to setup the LTI tool</p>
  <textarea style="width:100%;height:500px;">
    <%= @config_xml %>
  </textarea>
</div>