@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: asset-url('MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    asset-url('MaterialIcons-Regular.woff2') format('woff2'),
    asset-url('MaterialIcons-Regular.woff') format('woff'),
    asset-url('MaterialIcons-Regular.ttf') format('truetype');
}
[class^="material-icons-"], [class*=" material-icons-"], .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-content-add:before {
  content: "add";
}
.material-icons-action-help:before {
  content: "help";
}
.material-icons-action-account-circle:before {
  content: "account_circle";
}
.material-icons-action-dashboard:before {
  content: "dashboard"
}
.material-icons-action-done:before {
  content: "done";
}
.material-icons-action-search:before {
  content: "search";
}
.material-icons-action-dehaze:before {
  content: "dehaze";
}
.material-icons-action-create:before {
  content: "create";
}
.material-icons-action-delete:before {
  content: "delete";
}