---
http_interactions:
- request:
    method: get
    uri: https://atomicjolt.instructure.com/api/v1/courses/263/sections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4346~eXR2I9KVM6qi7QaVa1LXCeuv3zqH5qwXIhMHd9YX6rmpRqyljFEzWERPOiPr9Hbq
      Content-Type:
      - json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"571259ffe9a8127533508125d549f701"'
      Status:
      - 200 OK
      X-Canvas-Meta:
      - at=43460000000000469;dk=170000000000016;a=1;g=4MRcxnx6vQbFXxhLb8005m5WXFM2Z2i8lQwhJ1QT;s=4346;c=cluster35;z=us-east-1c;o=sections;n=index;t=Course;i=263;b=1199752;m=1199752;u=0.06;y=0.00;d=0.07;
      X-Canvas-User-Id:
      - '43460000000000002'
      X-Rate-Limit-Remaining:
      - '700'
      X-Request-Context-Id:
      - 7f1075c3-7918-4046-8d83-4370a2bf6d2c
      X-Request-Cost:
      - '0.1310738630000023'
      X-Request-Processor:
      - a01d484
      X-Session-Id:
      - 171a9c4738276ee175aa73640bb8cc15
    body:
      encoding: UTF-8
      string: '[{"course_id":263,"end_at":null,"id":260,"name":"Kellogg Seating Chart
        Test","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":null,"integration_id":null,"sis_import_id":null},{"course_id":263,"end_at":null,"id":261,"name":"Physicists","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":null,"integration_id":null,"sis_import_id":null},{"course_id":263,"end_at":null,"id":262,"name":"Mathematicians","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":null,"integration_id":null,"sis_import_id":null},{"course_id":263,"end_at":null,"id":263,"name":"Computer
        Scientists","nonxlist_course_id":null,"start_at":null,"sis_section_id":null,"sis_course_id":null,"integration_id":null,"sis_import_id":null}]'
  recorded_at: Thu, 12 Nov 2015 18:09:40 GMT
- request:
    method: get
    uri: http://www.example14.com/api/v1/courses//sections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
      Content-Type:
      - json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Adblock-Key:
      - MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKrfIMFkSaoTSqKmC+BrghK0CpDHc0MuVzmMHin8LIORhpXbped+iYhSnZurWnEO0zcKcVIrzp026LVc5pMB9bUCAwEAAQ==_KYzHo0CsRpIP7gikN+ydB8SMM7s0rGLd4Vinx2rA5IUlcF4+mtV6ckNXPrfLUcmRHVTnBrFwU0amalvzgLpp4Q==
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\r\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\" data-adblockkey=\"MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKrfIMFkSaoTSqKmC+BrghK0CpDHc0MuVzmMHin8LIORhpXbped+iYhSnZurWnEO0zcKcVIrzp026LVc5pMB9bUCAwEAAQ==_KYzHo0CsRpIP7gikN+ydB8SMM7s0rGLd4Vinx2rA5IUlcF4+mtV6ckNXPrfLUcmRHVTnBrFwU0amalvzgLpp4Q==\">\r\n<head><script
        type=\"text/javascript\">var abp;</script><script type=\"text/javascript\"
        src=\"http://www.example14.com/px.js?ch=1\"></script><script type=\"text/javascript\"
        src=\"http://www.example14.com/px.js?ch=2\"></script><script type=\"text/javascript\">function
        handleABPDetect(){try{var imglog = document.createElement(\"img\");imglog.src=\"http://www.example14.com/rg-logabpstatus.php?a=b2JxSkxGekpiT1NNRjRpcWxiZmhMM0RBVGxvckdPOTN4TEtjSU45dnlRcUhqNE5SdXZVM3g2dk90a2U4Slo1dFM0WkNVSkJlRVJvbzJabFFYdzNnOEl4OWpjY0dzb1JIbWJtSEVray93dzg9&b=\"+abp;document.body.appendChild(imglog);}catch(err){}}try{window.onload=handleABPDetect();}catch(err){}</script><title>example14.com</title>\r\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=\">\r\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable
        = no\">\r\n<style type=\"text/css\">\r\n*{margin:0; padding:0}\r\na{text-decoration:none;
        outline:none}\r\na:hover{text-indent:0; cursor:pointer}\r\n.clearfix:after{visibility:
        hidden;display:block;font-size: 0;content: \" \";clear: both;height:0}\r\n*
        html .clearfix{zoom:1} \r\n*:first-child+html .clearfix{zoom:1}\r\n\r\nbody{font-family:Arial,
        Helvetica, sans-serif; background:url(http://a.rmgserving.com/rmgpsc/7867/body-bg.gif)
        0 0 repeat #000}\r\n.arrows{background:url(http://d.rmgserving.com/rmgpsc/7867/arrows.jpg)}\r\n#main-wrap{background:url(http://a.rmgserving.com/rmgpsc/7867/header-bg.jpg)
        top center no-repeat; background-size:100% 100px}\r\n\r\n.container{width:960px;
        margin:0 auto}\r\n.header{height:100px}\r\n.leftblk{float:left; overflow:hidden}\r\n.leftblk
        img{float: left; margin-top: 23px; padding-right: 15px;}\r\n.domain_name{float:left;
        line-height:100px; font-size:26px; font-weight:normal; color:#fff}\r\n.searchbox{float:right;
        width:360px; * width:370px; _width:370px; height:28px !important; padding-top:2px;
        margin-top:35px; /*padding-left:33px;background:url(http://a.rmgserving.com/rmgpsc/7868/srch-bg-caf2.gif)
        0 0 no-repeat*/}\r\n\r\n.content{padding-bottom:10px; background:#202020}\r\n.frt_arr{float:left;width:286px;
        height:425px; background-position:10px 50px; background-repeat:no-repeat}\r\n.lst_arr{float:left;width:286px;
        height:425px; background-position:10px -405px; background-repeat:no-repeat}\r\n.kwd_bloack{float:left;
        width:388px; margin-top:74px}\r\n\r\n.bottom_bg{height:44px; /*background:#181818;
        */ margin-top:34px}\r\n.bottom_rs{width:960px; height:44px; overflow:hidden;
        margin:0 auto; position:relative}\r\n#bot_rs{padding-top:9px}\r\n.separator{position:absolute;
        top:0;  left:156px; width:5px; height:44px; border-left:2px solid #282828;
        background:url(http://b.rmgserving.com/rmgpsc/7867/sep-arw.gif) center center
        no-repeat}\r\n\r\n.footer-nav{width: 100%; height:74px; text-align:center;
        color:#c0c0c0;}\r\n.footer-nav a{font-size:12px; line-height:74px; color:#c0c0c0;
        \ padding: 0 5px; text-decoration:underline}\r\n.footer-nav a:hover{text-decoration:
        none}\r\n\r\n.inquire {text-align:right; padding-top:10px; color:#fff}\r\n.inquire
        a {font-size:12px; font-weight:normal; color:#fff}\r\n\r\n.sale-msg {background:#fff;
        color:#4b4b4b; text-align:center; font-size:14px; width:100%; top:0; left:0}\r\n.sale-msg
        a {text-decoration: none; color:#079ce9; font-size:14px}\r\n.sale-msg a:hover,
        .bottom_rs ul li a:hover, .mid_rs ul li a:hover, .inquire a:hover{text-decoration:
        underline}\r\n</style>\r\n<script type=\"text/javascript\" src=\"http://www.google.com/adsense/domains/caf.js\"></script></head>\r\n<body
        onload=\"\" onunload=\"\" onBeforeUnload=\"\">\n<noscript><meta http-equiv=\"refresh\"
        content=\"0;url=http://www.example14.com/rg-erdr.php?_rpo=t nT0G8Hz&_rdm=iii.fY1VgafzE.JvV&p=J1c4gcvmfN9ffbGoYVa%7C%40%7Czbbzbt%2C5f95ZH%2C5f95AA%7C%40%7CfY1VgafzE.JvV%7C%40%7CfB%7C%40%7C%7C%40%7CTzbEFztEH%7C%40%7CzTEATbb%7C%40%7CMR%7C%40%7C19c4NW4cvvczFZtHFGTTAGbAAGT%7C%40%7Ct+nZGyIxK%7C%40%7Ct+7zZOzxE&ga=m4D0zOiOKnmdKcQ2VW2Z7QYjYVcOsrZd6ZGgvdw1JklJcLZ30u6OYQCoB5CoNsImLs71lkZAAoEcDW1bCZeMufHWf8p%2BuXwL8jndUziBYmdz1NpeaVrWnhoAMUFvWcaDNNcVq%2B8qXFTxOfMOA0nqwcXn2RAtnZg9il9%2BbC9LFD8ys6rnttYvDBPcAJMmK0NS9VsHgBGIfqiTvRTzuo%2B%2FlQ%3D%3D&t=gnojs\"
        /><center><p style=\"padding:1em; font-size:1.5em;\">For search results please
        <a href=\"http://www.example14.com/rg-erdr.php?_rpo=t nT0G8Hz&_rdm=iii.fY1VgafzE.JvV&p=J1c4gcvmfN9ffbGoYVa%7C%40%7Czbbzbt%2C5f95ZH%2C5f95AA%7C%40%7CfY1VgafzE.JvV%7C%40%7CfB%7C%40%7C%7C%40%7CTzbEFztEH%7C%40%7CzTEATbb%7C%40%7CMR%7C%40%7C19c4NW4cvvczFZtHFGTTAGbAAGT%7C%40%7Ct+nZGyIxK%7C%40%7Ct+7zZOzxE&ga=m4D0zOiOKnmdKcQ2VW2Z7QYjYVcOsrZd6ZGgvdw1JklJcLZ30u6OYQCoB5CoNsImLs71lkZAAoEcDW1bCZeMufHWf8p%2BuXwL8jndUziBYmdz1NpeaVrWnho[...]
