<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : Rails.application.secrets.application_name %>">
<meta name="author" content="">
<link rel="icon" href="/favicon.ico">
<title><%= content_for?(:title) ? yield(:title) : Rails.application.secrets.application_name %></title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<%= csrf_meta_tags %>
<%= yield(:head) %>